body
{
  background-color:rgb(237, 237, 237);
}
.main{
  background-color:rgb(0, 102, 102);
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
  vertical-align: middle;
  padding:0.2em;
  color:white;
  border-bottom:1px solid #ccc;
  position: fixed;
  z-index: 4;
  width: 100%;
}
#mainContent
{
  background-color: rgb(237, 237, 237);
  width: 100%;
}
.main2{
  background-color: rgb(237, 237, 237);
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  color:black;
}
.side_button,.side_button_setting{
  border:none;
  outline:none;
  background:none;
  opacity: 0.9;
}
.side_button:hover,.side_button_setting:hover{
  border:none;
  outline:none;
  background:none;
  opacity: 0.5;
}
.side_button:active,.side_button_setting:active{
  outline:none;
  background:none;
  opacity: 0.9;
}
#search_bar_input {
    border:none;
    border-bottom:thin solid white;
    outline: none;
    font-family: Arial;
    text-align: center;
    //border-bottom: 2px solid white;
    //border-radius: 4px;
    font-size: 16px;
    background-color: rgb(0, 102, 102);
    background-image: url('../../assets/images/search.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    padding: 3px 2px 6px 2px;
}

.amountOnIcon{
  position:absolute;
  top:0.35em;
  left:0.7em;
}
.amountOnIconCss{
background-color: red;
font-size: 0.7em;
border-radius: 2em;
color:white;
padding:0.1em;
}
.notifictionsAmountContainer
{
  position:relative;
}
#posts_title,.color_theme
{
  color:#004B4C;
}
.settings_title_theme
{
  color:rgb(115,115,115);
  font-size: 1.35em;
}
textarea.droplinetext
{
  background-color: white;
  color:black;
  border:none;
  text-align:center;
  resize:vertical;
  //max-width: 300px;
  outline: none;
  width:100%;
  overflow: auto;
}
textarea:focus
{
  outline: none;
}
.textareadivclass
{
  text-align:center;
}
.fromto
{
  color:#A0A0A0;
}
.fromtobutton
{
  border:thin solid black;
  color:black;
}
#overlay
{
  position:fixed;
  top:0px;
  z-index:1;
  height:100px;
  width:1000px;
  background-color: red;
}
.namePost
{
  font-size: 1.3em;
  color:grey;
}
.contentPost
{
  font-size: 2em;
  padding:1em;
}
.timePost
{
  color:#a3a3a3;
}
.side_buttonsPost
{
  padding: 0.3em;
}
.borderPostInput{
  border:thin solid #ccc;
  border-radius:0.5em;
  background-color: white;
}
#userPostImageContainer{
  width:100%;
  background-color:rgb(237, 237, 237);
  color:grey;
  font-family: 'Raleway', sans-serif;

}
#search_content_show
{
  position:fixed;
  z-index:2;
  background-color: white;
  color:grey;
  border:none;
  border-top:none;
  box-shadow: 0.1em 0.1em 1em black;

}
#settings_content_show
{
  position:fixed;
  z-index:2;
  background-color: white;
  color:grey;
  border:none;
  border-top:none;
  box-shadow: 0.1em 0.1em 1em black;
}
.anchor_search
{
  font-size: 0.7em;
}
.search_result_div{
  background-color:white;
}
.search_result_div:hover{
  background-color:rgb(237, 237, 237);
}
.post_left_details
{
  text-align: left;
}
.postContainerMain
{
  padding: 1em;
  background: white;
}
.show
{
  border: 0;
  //clear:both;
  display:inline;
  width: 96%;
  height: 0.1em;
}
.showleft
{
  background:linear-gradient(to right, rgb(0, 102, 102) , rgb(237, 237, 237));
}
.showright
{
  background:linear-gradient(to left, rgb(0, 102, 102) , rgb(237, 237, 237));
}
.in_between_hr
{
  display: inline;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-family: Arial;
    opacity: 1; /* Firefox */
}
textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
}
.image_caption_input::placeholder
{
  color: #ccc;
}
.clickable_settings
{
  background-color: white;
  font-size: 0.65em;
}
.clickable_settings:hover
{
  background-color: #f4f4f4;
  cursor: pointer;
}
#bottom_dropdown,.bottom_dropdown
{
  background-color: #e5e5e5;
  border-top: thin solid #ccc;
}
.settings_sub_title
{
  font-size: 1em;
}
.settings_information
{
  font-size: 1em;
}
.settings_table_content
{
  background-color: rgb(240, 240, 240);
  border:thin solid rgb(221, 221, 221);
  border-top: none;
}
.settings_td
{
  padding:0.5em;
}
.settings_td_title
{
  background-color: rgb(241, 241, 241);
  border:thin solid rgb(205,205,205);
  border-bottom: none
}
.settings_option_title_tr
{
  //border-bottom:thin solid black;
}
.toggle_container
{
  background-color: red;
  width: 100%;
}
.input_checkbox
{
  font-size: 3em;
}
.gender_select
{
  background-color: white;
  border:none;
}
.flex_container
{
display: flex;
align-items:center;
}
#container_pop_up
{
  background-color: black;
}
.profile_pic_container
{
  position:relative;
  background-color: white;
  text-align: center;
  border:thin solid #ccc;
  border-radius:100%;
}
#image_cover
{
  background-color: white;
  background-image: url('../images/change_logo.png');
  background-position: bottom;
  background-repeat: no-repeat;
  opacity: 0.2;
  border-radius:100%;
  vertical-align: center;
  text-align: center;
}
#image_cover:hover
{
  opacity: 0.5;
  cursor:pointer;
}
#image_cover2
{
  background-color: blue;
  opacity: 0.7;
  vertical-align: center;
  text-align: center;
}
#top_header_spacing
{
  background-color:rgb(0, 102, 102);
  border-bottom:1px solid #ccc;
  opacity: 0;
}
#top_profile_pic
{
  border-radius: 100%;
}
.back_white
{
  border:thin solid rgb(221, 221, 221);
  background-color: rgb(240, 240, 240);
}
.back_white_container
{
  border:thin solid red;
  background-color: red;
}
.user_name_setting
{
  font-size: 1.75em;
  color:rgb(115,115,115);
  font-family: 'Raleway', sans-serif;
}
.add_border_settings_tab
{
  border-bottom:thin solid rgb(205,205,205);
}
#back_arrow_image:hover
{
  cursor: pointer;
}
#notification_pop_up
{
  width: 50%;
  background-color:rgb(237, 237, 237);
  position: static;
  display:none;
  padding: 2em;
  border:thin solid #ccc;
  overflow-y: scroll;
  box-shadow: 0.1em 0.1em 3em black;
}

#hide input[type=file] {
display:none;
margin:10px;
}
#hide input[type=file] + label {
display:inline-block;
margin:20px;
padding: 4px 32px;
background-color: #FFFFFF;
border:solid 1px #666F77;
border-radius: 6px;
color:#666F77;
}
#hide input[type=file]:active + label {
background-image: none;
background-color:#2D6C7A;
color:#FFFFFF;
}
#notification_side_message
{
  position:fixed;
  display: none;
  bottom:1em;
  right:1em;
  border:thin solid black;
  background-color: green;
  padding:1em;
  text-align: center;
  color:white;
  width: 20%;
}
#messages_left_side
{
  padding:0px;
}
#messages_middle_side
{
  background-color: none;
}
#messages_right_side
{
}
.button_friend
{
  border:thin solid black;
  background-color: white;
  border:thin solid #ccc;
  color:grey;
}
.button_friend_2
{
  width:100%;
  border:thin solid black;
  background-color: white;
  border:thin solid #ccc;
  border-radius: 15%;
  border-bottom:none;
  border-bottom-left-radius:0%;
  border-bottom-right-radius:0%;
  color:grey;
}
.friendship_status_2
{
  width:100%;
}
.name_div
{
  border-bottom:thin solid rgb(200,200,200);
  padding:1em;
}
.name_div:hover
{
  background-color: rgb(200,200,200);
  cursor: pointer;
}
#messages_show
{
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  border:thin solid rgb(200,200,200);
}
#submit_message_input
{
  width: 80%;
  padding:1em;
  border:thin solid rgb(200,200,200);
  border-top:none;
}
#send_message_input
{
  width: 20%;
  padding:1em;
  border:thin solid rgb(200,200,200);
  border-left:none;
  border-top:none;
  background-color:rgb(0, 102, 102);
  font-family: 'Raleway', sans-serif;
  color:white;
}
#message_result
{
  position: relative;
  top:40%;
  text-align: center;
}
#submit_message_input:focus
{
  outline:none;
}
.message_display_left
{
  background-color: white;
  padding: 0.5em;
  border-radius: 0.5em;
}
.message_display_right
{
  background-color: white;
  padding: 1em;
  border-radius: 0.5em;
}
.message_display_time
{
  font-size: 0.7em;
  color:grey;
}
.message_display_date
{
  font-size: 0.9em;
  color:grey;
}
.name_friend_list
{
  font-size: 2em;
}
.name_friend_list_container
{
  border-bottom:thin solid #ccc;
  background-color: rgb(237, 237, 237);
  border:thin solid #ccc;
  padding:1em;
}
.name_friend_list_container:hover
{
  background-color:#ccc;
  cursor:pointer;
}
.name_friend_list_container_new
{
  border-bottom:thin solid #ccc;
  background-color: rgb(237, 237, 237);
  border:thin solid #ccc;
  padding:1em;
}
.name_friend_list_container_new:hover
{
  background-color:#ccc;
  cursor:pointer;
  text-decoration: none;
}
a:hover
{
  text-decoration: none;
}
.friend_new
{
  border:thin solid green;
  background-color:rgb(0, 102, 102);
  border-radius: 2em;
  padding:0.5em;
  font-size: 1.5em;
  color:white;

}
